[Desktop Entry]
Name[]=SGT Puzzles
Comment[]=Simon Tatham\'s Portable Puzzle Collection
Exec=sgt-puzzles
Terminal=false
Type=Application
Categories=Game;
Icon=qtmaze/qtmaze
